<p>Media works!</p>

<form formGroup="mediaForm" (ngSubmit)="onSubmit()">
  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">

  <label for="description">Description: </label>
  <input id="description" type="text" formControlName="description" required>

  <div formArrayName="metadata">
    <h2>Metadata</h2>
    <button type="button" (click)="addMetadata()">+ Add </button>

  </div>


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!mediaForm.valid">Submit</button>
</form>

<hr>
<p>Form Status: {{ mediaForm.status }}</p>
<button type="button" (click)="updateMedia()">Update</button>
