<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container" *ngIf="isLoaded$ | async" >
  		<div class="row">
  	       <div class="col-lg-6">
        		<!--begin::Card-->
        		<div class="card card-custom gutter-b example example-compact">
              <div class="card-header">
              <h3 class="card-title">
                {{model.name}}
              </h3>
              <div class="card-toolbar">
      					<div class="example-tools justify-content-center">
      						<span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code">Reset</span>
      					</div>
      				</div>
              </div>

             <form (ngSubmit)="onSubmit()">
               <div class="card-body">
                <div class="form-group">
                   <label for="name">Name<span class="text-danger">*</span></label>
                   <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name">
                </div>
                <div class="form-group">
                   <label for="description">Description</label>
                   <textarea class="form-control" id="type" rows="3" [(ngModel)]="model.description" name="description"></textarea>
                </div>
                <div class="form-group">
                   <label for="longDescription">Long Description</label>
                   <textarea class="form-control" id="type" rows="3" [(ngModel)]="model.longDescription" name="longDescription"></textarea>
                </div>
                <div class="form-group">
          						<label for="type">Type<span class="text-danger">*</span></label>
          						<select class="form-control" id="type" [(ngModel)]="model.type" name="type">
          							<option>Movie</option>
          							<option>Series</option>
          							<option>Documentary</option>
          						</select>
          			</div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <label for="minute">Release Year</label>
                    <input type="text" class="form-control" id="releaseYear" [(ngModel)]="model.releaseYear" name="releaseYear">
      						</div>
      					</div>


                <div class="row">



                  <!--begin::Repeater-->
									<div id="kt_docs_repeater_basic">
									    <!--begin::Form group-->
                      <span>Genere</span>
									    <div class="form-group">
									        <div data-repeater-list="kt_docs_repeater_basic">

									            <div data-repeater-item *ngFor="let tag of model.tags">
									                <div class="form-group row">
									                    <div class="col-md-6">
									                        <input type="text" value="{{tag.name}}" class="form-control" placeholder="Enter full name" />
									                    </div>
																			<div class="col-md-4">
																				<a href="javascript:;" data-repeater-delete class="btn btn-sm btn-light-danger mt-3 mt-md-2">
																						Delete
																				</a>
																			</div>
									                </div>
									            </div>
									        </div>
									    </div>
    							<!--end::Form group-->

							    <!--begin::Form group-->
							    <div class="form-group mt-5">
							        <a href="javascript:;" data-repeater-create class="btn btn-light-primary">
							            <i class="ki-duotone ki-plus fs-3"></i>
							            Add
							        </a>
							    </div>
							    <!--end::Form group-->
							</div>
							<!--end::Repeater-->





                </div>








              </div>
             </form>

        		</div>
        		<!--end::Card-->

  	       </div>
    	     <div class="col-lg-6">

             <div  class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                <h3 class="card-title">Media Assets</h3>
                </div>
                <div class="card-body">
                  <div class="form-group">
                     <div data-repeater-item *ngFor="let mediaAsset of model.mediaAssets">
                      {{mediaAsset.episodeNumber}} - {{mediaAsset.hour}}:{{mediaAsset.minute}} - {{mediaAsset.episodeTitle}}
                     </div>
                  </div>
                </div>
             </div>
    		   </div>
      </div>
		</div>
		<!--end::Container-->
	</div>
<!--end::Entry-->
</div>









<!--
<form formGroup="mediaForm" (ngSubmit)="onSubmit()">
  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">

  <label for="description">Description: </label>
  <input id="description" type="text" formControlName="description" required>

  <div formArrayName="metadata">
    <h2>Metadata</h2>
    <button type="button" (click)="addMetadata()">+ Add </button>

  </div>


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!mediaForm.valid">Submit</button>
</form>

<hr>
<p>Form Status: {{ mediaForm.status }}</p>
<button type="button" (click)="updateMedia()">Update</button>
-->


<script type="text/javascript">
  console.log("Hello");
  $('#kt_docs_repeater_basic').repeater({
    initEmpty: false,

    defaultValues: {
        'text-input': 'foo'
    },

    show: function () {
        $(this).slideDown();
    },

    hide: function (deleteElement) {
        $(this).slideUp(deleteElement);
    }
});
</script>
